{
    "LoadBalancerName": "{{ app_name }}-{{ server_env }}",
    "Listeners": [
        {
            "Protocol": "tcp",
            "LoadBalancerPort": 80,
            "InstanceProtocol": "tcp",
            "InstancePort": 80
        },
        {
            "Protocol": "tcp",
            "LoadBalancerPort": 443,
            "InstanceProtocol": "tcp",
            "InstancePort": 443
        }
    ],
    "Subnets": [
        {{ aws_vpc_subnets|join(',') }}
    ],
    "SecurityGroups": [
        {{ security_group_id.stdout }}
    ]
}