{
  "LoadBalancerName": "{{ app_name }}-{{ server_env }}",
  "PolicyName": "EnableProxyProtocol",
  "PolicyTypeName": "ProxyProtocolPolicyType",
  "PolicyAttributes": [
    {
      "AttributeName": "ProxyProtocol",
      "AttributeValue": "True"
    }
  ]
}